<h1>Editing Listing</h1>

<!-- partial from  _form.html.erb-->
<%= render 'form' %>

<%= link_to 'Show', @listing, class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
