<h1>Welcome, we been expecting you... here at MyConnect420.com</h1>
<h2>MyConnect420.com is an online marketplace for EVERYTHING Medical and Recreational Marijuana</h2>

<p>We beleive in giving Power to the Patient (P2P) and the Community</p>
